.portfolioContainer {
    padding: 4rem 10%;
    scroll-margin-top: 80px;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--color-secondary);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.showMoreButton {
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    background-color: transparent;
    color: var(--color-third);
    border: 2px solid var(--color-third);
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s ease;
}

.showMoreButton:hover {
    background: radial-gradient(
        circle, 
        rgba(168, 178, 209, 0.15) 70%,
        transparent 150%
    );
    color: var(--color-secondary);
    transform: translateY(-2px);
}