.cardContainer {
    padding: 1rem;
    border-radius: 1rem;
    outline: 1px solid rgba(100, 108, 255, 0.2);
    transition: transform 0.3s ease,
                box-shadow 0.5s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.cardContainer:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--color-primary-hover);
}

.image {
    width: 100%;
    aspect-ratio: 16/9;

    overflow: hidden;
    object-fit: cover;
    object-position: center;
    
    border-radius: 8px 8px 3px 3px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

    font-size: 12px;
    font-style: oblique;
}

.cardContainer:hover .image {
    transform: scale(0.95);
}

.content {
    margin-top: 1rem;
}

.title {
    color: var(--color-secondary);
}

.description {
    color: var(--color-third);
}

.tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.tag {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--color-secondary);

    border: 1px solid rgba(100, 108, 255, 0.2);
    background: radial-gradient(
        circle, 
        rgba(168, 178, 209, 0.1) 50%,
        transparent 100%
    );

    padding: 3px 10px;
    
    border-radius: 100px;
}

.tag:hover,
.tag:focus-visible {
    background: radial-gradient(
        circle, 
        rgba(168, 178, 209, 0.15) 60%,
        transparent 120%
    );
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.25rem;
}

.footer a {
    color: var(--color-third);
    transition: color 0.3s ease;
}

.footer a:hover {
    color: var(--color-primary-hover);
}

.footer a:focus-visible {
    outline: 2px solid var(--color-primary);
}