.heroContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    min-width: 100%;
    min-height: 100vh;
}

.title {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 3rem;
    color: var(--color-primary);
}

.subtitle {
    font-size: 1.5rem;
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

.description {
    color: var(--color-third);
}