.navContainer {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 1.4rem 1rem 1.4rem;
    background: linear-gradient(
        rgba(0, 0, 0, 0.2) 20%,
        transparent 100%
    );
    backdrop-filter: blur(3px);
    z-index: 1000;
}


.logo {
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: translateY(-4px);
    text-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
}

.logo a {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-secondary);
    text-decoration: none;
    letter-spacing: -0.5px;
}

.interact {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    gap: 1.2rem;
}

.navLinks {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

.link {
    color: var(--color-third);
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.5s ease;

    position: relative;
}

.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 0%;
    height: 2px;
    background-color: var(--color-primary);

    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
    left: 50%;
}

.link:hover {
    color: var(--color-primary);
}

.link:hover::after {
    width: 100%;
}


.cvButton {
    background-color: var(--color-primary);
    color: white;
    text-decoration: none;
    border: none;
    padding: 0.6rem 0.8rem;
    border-radius: 25px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.1s ease,
                background-color 0.5s ease;

    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
}

.cvButton:hover {
    background-color: var(--color-primary-hover);
    transform: translateY(-1px);
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
}