.navContainer {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 1.4rem 1rem 1.4rem;
    background: linear-gradient(
        rgba(0, 0, 0, 0.2) 20%,
        transparent 100%
    );
    backdrop-filter: blur(3px);
    z-index: 1000;
}


.logo {
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: translateY(-4px);
    text-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
}

.logo a {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-secondary);
    text-decoration: none;
    letter-spacing: -0.5px;
}

.interact {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    gap: 1.2rem;
    display: none;
}

.navLinks {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

.link {
    color: var(--color-third);
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.5s ease;

    position: relative;
}

.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 0%;
    height: 2px;
    background-color: var(--color-primary);

    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
    left: 50%;
}

.link:hover {
    color: var(--color-primary);
}

.link:hover::after {
    width: 100%;
}


.cvButton {
    background-color: var(--color-primary);
    color: white;
    text-decoration: none;
    border: none;
    padding: 0.6rem 0.8rem;
    border-radius: 25px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.1s ease,
                background-color 0.5s ease;

    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
}

.cvButton:hover {
    background-color: var(--color-primary-hover);
    transform: translateY(-1px);
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
}

.mobileMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    border-bottom: 1px solid var(--color-border);
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.hamburgerBackground {
    background-color: var(--color-background-hamburger);
    backdrop-filter: blur(10px);
}

.menuOpen {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.mobileLinks {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    width: 100%;
}

.mobileLinks a {
    color: var(--color-secondary);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s;
}

.mobileLinks a:hover {
    color: var(--color-primary);
}

.mobileActions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 1.5rem;
}

.hamburgerBtn {
    background: none;
    border: none;
    color: var(--color-secondary);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s;
}

.hamburgerBtn:hover {
    color: var(--color-primary);
}

@media (width >= 768px) {
    .interact {
        display: flex;
    }
    
    .hamburger {
        display: none;
    }
}