.sun {
    color: yellow;
}

.moon {
    color: var(--color-primary);
}

.toggleButton {
    background-color: transparent;
    border-color: transparent;
}

.icon {
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.rotate:active {
    transform: rotate(720deg);
}