.sidebar {
    position: fixed;
    bottom: 0;
    left: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    z-index: 10;
    display: none; /* Hide if screen is too small */
}

@media (min-width: 768px) {
    .sidebar {
        display: flex;
    }
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    color: var(--color-third);
    transition: transform 0.2s ease,
                color 0.2s ease,
                background-color 0.5s ease-in-out;
}

.item a:hover {
    color: var(--color-primary);
    transform: translateY(-3px);
    background: radial-gradient(
        circle, 
        rgba(168, 178, 209, 0.3) 5%,
        transparent 60%
    );
}

.line {
    width: 1px;
    height: 90px;
    background-color: var(--color-third);
    margin-top: 10px;
}