:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Light mode */
  --background: hsl(210 40% 90%);
  --card: hsl(0 0% 100%);

  --primary: hsl(250 100% 66%);
  --secondary: hsl(222 10% 20%);
  --third: hsl(222 10% 32%);
  --primary-hover: hsl(237, 100%, 73%);

  --border: hsl(214 32% 91%);

  /* Semantic color variables */
  --color-background: var(--background);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-third: var(--third);
  --color-primary-hover: var(--primary-hover);
  --color-border: var(--border);

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-feature-settings: "rlig" 1, "calt" 1;
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
}

.dark {
  /* Dark mode */
  --background: hsl(222 47% 4%);
  --card: hsl(222 47% 8%);
  --primary: hsl(250 100% 80%);
  --secondary: hsl(222 10% 80%);
  --third: hsl(222 10% 65%);
  --border: hsl(217 33% 20%);
}

.container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }

  @media (width >= 768px) {
    max-width: 768px;
  }

  @media (width >= 1024px) {
    max-width: 1024px;
  }

  @media (width >= 1280px) {
    max-width: 1280px;
  }

  @media (width >= 1400px) {
    max-width: 1400px;
  }
}