:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Light mode */
  --background: linear-gradient(
    180deg, 
    hsl(210 40% 98%) 0%, 
    hsla(244, 50%, 73%, 0.89) 100%
  );
  --background-hamburger: hsla(255, 100%, 95%, 0.9);
  --card: hsl(0 0% 93%);

  --primary: hsl(250 100% 66%);
  --secondary: hsl(222 10% 20%);
  --third: hsl(222 10% 32%);
  --primary-hover: hsl(237, 100%, 73%);

  --border: hsl(0, 0%, 80%);

  /* Semantic color variables */
  --color-background: var(--background);
  --color-background-hamburger: var(--background-hamburger);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-third: var(--third);
  --color-primary-hover: var(--primary-hover);
  --color-border: var(--border);

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-feature-settings: "rlig" 1, "calt" 1;
    margin: 0;

    background: var(--color-background); 
    background-attachment: fixed; /* Optional: Keeps gradient fixed while scrolling */
    min-height: 100vh; /* Ensures gradient covers full screen */
    color: var(--color-secondary); /* Ensure text has color */
  }
}

html {
  scroll-behavior: smooth;
}

.dark {
  /* Dark mode */
  --background: linear-gradient(
    180deg, 
    hsl(257, 48%, 12%) 0%, 
    hsl(0, 0%, 0%) 100%
  );
  --background-hamburger: hsla(255, 100%, 5%, 0.9);

  --card: hsl(222 47% 8%);
  --primary: hsla(250, 92%, 75%, 0.9);
  --secondary: hsl(222 10% 80%);
  --third: hsl(222 10% 65%);
  --border: hsl(217 33% 20%);
}

.container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }

  @media (width >= 768px) {
    max-width: 768px;
  }

  @media (width >= 1024px) {
    max-width: 1024px;
  }

  @media (width >= 1280px) {
    max-width: 1280px;
  }

  @media (width >= 1400px) {
    max-width: 1400px;
  }
}