.footerContainer {
    background-color: var(--color-card);
    border-top: 1px solid var(--color-border);
    padding: 2rem 0;
    margin-top: auto;
    text-align: center;
    box-shadow: 0 -25px 20px rgba(0, 0, 0, 0.1);
}

.text {
    color: var(--color-secondary);
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.highlight {
    color: var(--color-primary);
    font-weight: 600;
}

.copyright {
    color: var(--color-third);
    font-size: 0.8rem;
}